{{define "main"}}
    <main class="container">
        <article>
            <header><h2>500 - Internal Server Error</h2></header>
            <p>Sorry, something went wrong on our end. Please try again later.</p>
            {{- /*gotype: github.com/lao-tseu-is-alive/JsonSiteGo.PageData*/ -}}
            {{if .Page.ErrorMsg}}
                <kbd>{{.Page.ErrorMsg}}</kbd>
            {{end}}
            <hr>
            <a href="/">Back to home page</a>
        </article>
    </main>
{{end}}
