{{define "base_layout"}}

    {{template "header" .}}
    {{- /*gotype: github.com/lao-tseu-is-alive/JsonSiteGo.PageData*/ -}}

    {{block "main" .}}
    {{end}}

    {{template "footer" .}}

{{end}}