{{define "main"}}
<main class="container">
    <h1>Welcome to the {{- /*gotype: github.com/lao-tseu-is-alive/go-simple-http-static-server.PageData*/ -}}
        {{.Page.Title}} Page</h1>
    <p>This is the home page of our simple personal website.</p>
</main>
{{end}}

{{block "base_layout" .}}
{{end}}