{{define "main"}}
    <main class="container">
        {{- /*gotype: github.com/lao-tseu-is-alive/JsonSiteGo.PageData*/ -}}
        {{ if .Page.Draft}}
            <article class="pico-background-pink-600">⚠️ ⚠️ Warning : this page is a draft !</article>
        {{end}}
        <h1>{{.Page.Title}} Page</h1>
        <p>{{.Page.Content}}</p>
    </main>
{{end}}
