{{define "other_layout"}}

    {{template "header" .}}

    {{block "main" .}}
    {{end}}

    <div class="container">
        <article>this is layout : other_layout </article>
    </div>

    {{template "footer" .}}

{{end}}