{{define "main"}}
    <main class="container">
        <h1>{{- /*gotype: github.com/lao-tseu-is-alive/go-simple-http-static-server.PageData*/ -}}
            {{.Page.Title}}</h1>
        <p>{{.Page.Content}}</p>
    </main>
{{end}}
